.friend-card {
  margin:2px;
  position:relative;
  overflow:hidden;
  padding:0 0 12px 0;
}
.friend-card:before {
  display:block;
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:#fff;
  opacity:.4;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.75);
  z-index:1;
}
.friend-card__row {
  position:relative;
  width:100%;
  display:flex;
  justify-content:space-between;
  z-index:2;
}
.friend-card__cell {
  padding:4px;
  line-height:36px;
}
.friend-card__cell h1,
.friend-card__cell .h1,
.friend-card__cell h2,
.friend-card__cell .h2,
.friend-card__cell h3,
.friend-card__cell .h3 {
  margin:6px auto;
}
.friend-card__cell_ta-right {
  text-align:right;
}
.friend-card__cell_ta-center {
  text-align:center;
}
.friend-card__cell_ta-center h1,
.friend-card__cell_ta-center .h1,
.friend-card__cell_ta-center h2,
.friend-card__cell_ta-center .h2,
.friend-card__cell_ta-center h3,
.friend-card__cell_ta-center .h3 {
  text-align:center;
}
.friend-card__cell_double {
  width:100%;
}
.friend-card__cell_width-40 {
  width:40%;
}
.friend-card__cell_width-45 {
  width:45%;
}
.friend-card__cell_width-50 {
  width:50%;
}
.friend-card__cell_width-55 {
  width:55%;
}
.friend-card__cell_width-60 {
  width:60%;
}
.friend-card__danger {
  background:#d10c31;
}
.checkbox_fav {
  position:relative;
  width:80px;
  height:36px;
  text-align:center;
}
.checkbox_fav-right {
  margin:0 0 0 auto;
  position:relative;
  left:28px;
}
.checkbox_fav input[type=checkbox] {
  position:absolute;
  left:-9999px;
}
.checkbox_fav input[type=checkbox] + label {
  opacity:.2;
  transition: opacity, color 300ms linear;
}
.checkbox_fav input[type=checkbox]:checked + label {
  color:#4ce4e4;
  opacity:1;
}
