<span class="stars">
<i (click)="setStars(1);effectService.onBorisClick($event.target)" class="fa fa-star effect-boris" [class.gold]="stars >= 1"></i>
<i (click)="setStars(2);effectService.onBorisClick($event.target)" class="fa fa-star effect-boris" [class.gold]="stars >= 2"></i>
<i (click)="setStars(3);effectService.onBorisClick($event.target)" class="fa fa-star effect-boris" [class.gold]="stars >= 3"></i>
<i (click)="setStars(4);effectService.onBorisClick($event.target)" class="fa fa-star effect-boris" [class.gold]="stars >= 4"></i>
<i (click)="setStars(5);effectService.onBorisClick($event.target)" class="fa fa-star effect-boris" [class.gold]="stars == 5"></i>
</span>
