<div class="search-outer">
	<input type="text"
    #searchField
		appSearch
		(filterEvent)="filterFriends($event)"
		[friends]="transferVarsService.getFriends()"
    [searchTerm]="searchField.value"
		placeholder="Поиск по друзьям" name="search-field"
	>
	<i class="fa fa-search search-icon"></i>
	<div class="friends-list-tips">
		<div class="friends-list-tips__tip" *ngFor="let friend of filteredFriends">
			<a class="tip-link" routerLink="/detail/{{friend._id}}" (click)="searchField.value=''">{{friend.name}}</a>
		</div>
	</div>
</div>
